{% extends "login/base.html" %}
{% block title %} {{ user }} is shopping{% endblock %}
{% block content%}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'django.contrib.auth.views.logout' %}?next=/">Logout</a>
      <a class="navbar-brand" href="{% url 'accounts-add_product' %}">New Product</a>

    </div>
  <div>
    {% load staticfiles %}

      <h1>Hello {{ user}}</h1>

    <img src="{% static 'dog.jpg' %}" alt="My image"/>
  </div>
 
      {% for product in products %}

    <div class="col-lg-6">
      <iframe src="{{product.image_url}}"></iframe>
        <h4>product name : <a href="/display_product/{{ product.id }}">{{ product.product_name }}</a></h4>
          <h5> unit price : ${{ product.price }}</h5>
            <h6>quantity : {{  product.quantity }}</h6>
    </div>

      {% endfor %}


{% endblock %}